/* $Id:$ Note gaya has css bug. Item after comments is ignored. Hence */a{}

a { color:white ; text-decoration:none; }

html { margin:0; padding:0; border:none; height:100%; }
body { margin:0; padding:0; border:none; height:100%; }
table.main {
 margin:0;
 padding:0;
 border:none;
 height:100%;
 border-collapse:collapse;
}

#main {
 height:99%;
 width:100%;
}

img {
 border: 0px solid black;
}

img.codec {
 width:30px;
 background-color:#AAAAAA;
}


td.gc_small { font-size:10pt; }
td.gc_fresh_small { font-size:10pt; }
td.gc_watched_small { font-size:10pt; }

font.Delete {color:#FF9966; font-weight:normal; }
font.Ignore {color:#777;}
font.Mark {color:#AAA;}
font.Unmark {color:#DDF;}
font.Remove_From_List {color:orange;}

img.fresh { 
 border-width: 2px;
 color:#FBB917;
 border-color:#FBB917;
}

font.watched {
 color:#FF7777 ;
}

font.unwatched {
 color:#77FF77 ;
}


.error { color:red ; font-style:italic; font-weight:bold; }
.delete { background-color:red; }
.delist { background-color:yellow; }
.cancel { ; }
.mark { ; }

#genre {
    color:#76FFFF;
    font-weight:bold;
}

table.header,table.footer {
 margin:0;
 border-spacing:1px;
 padding:0;
 border-width:0;
border-spacing: 0px;
border-collapse:collapse;
 }

.bluebutton {
 color:#5555FF;
 background-color:black;
 font-weight:normal;
  text-decoration:none;
 }
a.bluebutton {
 color:black ;
}

.yellowbutton {
 color:#FFFF55;
 background-color:black;
 font-weight:normal;
  text-decoration:none;
 }
/* a.yellowbutton { color:black ; } */

/* TV or movie view */ a{}
table.detail   { margin:0; border-spacing:1px; padding:1px ; }

/* Admin page */ a{}

.match {color:#FF7777; font-weight:bold; }

/* Movie Page */ a{}

.right { text-align:right; }

select {
 background-color:black;
 color:#88CCFF;
 font-weight:bold;
 border:#88CCFF 1px solid;
 font-size:small;
}

input {
 background-color:black;
 color:#88CCFF;
 font-weight:bold;
 border:#88CCFF 1px solid;
 font-size:small;
}

body { font-family:"arial"; color:white;  }

.label { color:red }

#menutitle {
 color:#FFCF2F;
}
#unwatchedtotal { 
 color:#44FF77;
}
#watchedtotal { 
 color:#FF7777;
}

table.directors td  { background-color:black; }
table.writers td  { background-color:black; }
table.actors td  { background-color:black; }

/*
vi:ts=4:sw=4:et:syntax=css
*/a{}

