<!-- Default Buttons Template  $Id:$ -->
<table width=100%>
    <tr>
    [<td align=center class=mark>:SELECT_MARK_SUBMIT:</td>]
    [<td align=center class=cancel>:SELECT_CANCEL_SUBMIT:</td>]
    [<td align=center class=delist>:SELECT_DELIST_SUBMIT:</td>]
    [<td align=center class=delete>:SELECT_DELETE_SUBMIT:</td>]
    </tr>
</table>

<!--
vi:ts=4:sw=4:et:syntax=html
-->
