[:IF($ovs_display_fanart):]
<body focuscolor=#66CCFF focustext=black background=[:FANART_URL(default.jpg):] >
<table class=main width=100%>
<tr valign=bottom><td align="center" border=0 height=[:BODY_HEIGHT:] >
[:ELSE:]
<body focuscolor=#66CCFF focustext=black background=[:IMAGE(default.jpg):] >
<table class=main width=100%>
<tr valign=middle><td align="center" border=0 height=[:BODY_HEIGHT:] >
[:ENDIF:]