<html>
    <head>
        [:FAVICON:]
        <meta name="robots" content="nofollow">
        <title>Oversight ([:HOSTNAME:]) - [:TITLE:] Boxset</title>
        [:FAVICON:]
        <link rel="stylesheet" type="text/css" href=[:TEMPLATE_URL(css/default.css):] />
        <style type="text/css">
            [:INCLUDE_TEMPLATE(css):]

body.menu_background {
    color:yellow;
    background-color:black;
}

td.grid_background {
    text-align:center;
    margin:0px;
    padding:0px;
    border:0px;
}

[:IF($@poster_mode):]
    .overview_poster {
        text-align:center;
    }
[:ENDIF:]

table.overview_poster {
    margin:0; border-spacing:[:EVAL($@poster_menu_img_height/20):]px; padding:0 ; border-width:0 ;
}

.XTitle {
 text-align:center;
 font-size:[:TITLE_SIZE:];
 font-weight:bold;
 color:#FFCF2F;
}

        </style>
    </head>

[:IF($ovs_display_fanart):]

    <body [onloadset=:START_CELL:] focuscolor=#FFCF2F focustext=black class=menu_background background="[:FANART_URL(default.jpg):]" >
    <table class=main width=100%>
    <tr valign=bottom>

[:ELSE:]

    <body [onloadset=:START_CELL:] focuscolor=#FFCF2F focustext=black class=menu_background background="[:URL_BASE:]/templates/[:$ovs_skin_name:]/720/default.jpg">
    <table class="main" width="100%">
    <tr valign="middle">

[:ENDIF:]

        <td align="center" border="0" height="[:BODY_HEIGHT:]" >

[:FORM_START:]
    <center>
        <table class="main" width="100%" height="100%">
            <tr>
                <td>
		            <table height=50px class="header" background="[:URL_BASE:]/templates/default/images/trans50.png">
		                <tr>
		                	[:INCLUDE_TEMPLATE(tvboxset_buttons):]
[:IF($@gaya):]	
[:ELSE:]
			                <td align=right>
			                    [:EXTERNAL_URL:]&nbsp;
			                </td>
[:ENDIF:]
		                    <td align=right>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                        <span class="boxtitle" id="menutitle">[:TITLE:]</span>
		                        <span class="boxtitle" id="unwatchedtotal">&nbsp;</span>
		                        <span class="boxtitle" id="watchedtotal">&nbsp;</span>&nbsp;
		                    </td>
		                </tr>
		            </table>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <table >
                            <tr>
                                <td >
                                    <div id=gridWrapper>[:GRID(rows=>1,cols=>6):]</div>
								<table class=footer width=100%>
				                	<tr valign=top>
				                        <td width=10%>[:LEFT_BUTTON:]</td>
				                        <td width=10% align=right>[:RIGHT_BUTTON:]</td>
				                	</tr>
				            	</table>
                                </td >
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </center>
[:FORM_END:]

</td></tr></table>

<script type="text/javascript" src="[:TEMPLATE_URL(js/util.js):]"></script>
<script type="text/javascript" src="[:TEMPLATE_URL(js/menu.js):]"></script>
<!-- tvids -->
[:TVIDS:]
[:INCLUDE_TEMPLATE(common):]
    </body>
</html>
<!--
vi:ts=4:sw=4:et:syntax=html
-->
