<html>
    <head>
        <title>Oversight ([:HOSTNAME:]) - [:ACTOR_NAME:]</title>
		[:INCLUDE_TEMPLATE(styles_and_meta):]
    </head>
    <body [onloadset=:START_CELL:] focuscolor=#66CCFF focustext=black class=menu_background background="[:BACKGROUND_URL(default.jpg):]">
    	<table class="main" width="100%">
    		<tr valign="middle">
        		<td align="center" border="0" height="[:BODY_HEIGHT:]" >
					[:FORM_START:]
					    <center>
					        <table class="main" width="100%" height="100%">
					            <tr valign=bottom>
					                <td align=center>
							            <table height=200px class="header" background="[:IMAGE_URL(trans50.png):]">
	                                        <tr><td colspan=3 height=5px></td></tr>
	                                        <tr>
	                                            <td colspan=3 align=center>
	                                                <span class="boxtitle">[:ACTOR_IMAGE(height=200px):]</span>
	                                            </td>
	                                        </tr>
	                                        <tr>
                                                <td width=8px></td>
                                                <td align=center>
                                                    <span class="boxtitle">PROFILE: [:ACTOR_NAME:]</span>
                                                </td>
                                                <td width=8px></td>
                                            </tr>
                                            <tr><td colspan=3 height=5px></td></tr>
							            </table>
					                </td>
					            </tr>
                                <tr><td height=20px></td></tr>
					            <tr valign=bottom>
					                <td>
							            <table height=50px class="header" background="[:IMAGE_URL(trans50.png):]">
							                <tr>
							                    [:INCLUDE_TEMPLATE(tvboxset_buttons):]
[:IF($@gaya):]	
[:ELSE:]
								                <td align=right>
								                    [:EXTERNAL_URL:]&nbsp;
								                </td>
[:ENDIF:]
							                    <td align=right>
							                        [:INCLUDE_TEMPLATE(box_titles):]
													&nbsp;&nbsp;&nbsp;
							                    </td>
							                </tr>
							            </table>
					                </td>
					            </tr>
					            <tr>
					                <td>
					                    <center>
					                        <table >
					                            <tr>
					                                <td >
					                                    <div id=gridWrapper>[:GRID(rows=>1):]</div>
														<table class=footer width=100%  background="[:IMAGE_URL(trans50.png):]">
															<tr valign=center>
														        <td width=10%>[:LEFT_BUTTON:]</td>
														        <td width=10% align=right>[:RIGHT_BUTTON:]</td>
															</tr>
														</table>
					                                </td >
					                            </tr>
					                        </table>
					                    </center>
					                </td>
					            </tr>
					        </table>
					    </center>
					[:FORM_END:]
				</td>
			</tr>
		</table>
		[:INCLUDE_TEMPLATE(box_closing_scripts):]
    </body>
</html>
<!--
vi:ts=4:sw=4:et:syntax=html
-->
