[:INCLUDE_TEMPLATE(javascript_common):]
<script type="text/javascript">
	function info() {
	    alert('[[:$ovs_tvid_mark:]] - mark watched\n[[:$ovs_tvid_unmark:]] - unwatch\n[[:$ovs_tvid_delist:]] - delist\n[[:$ovs_tvid_delete:]] Delete Media');
	}
</script>
<!-- tvids -->
[:TVIDS:]
[:INCLUDE_TEMPLATE(common):]