[:IF($ovs_display_fanart):]
<body focuscolor=[:$skin_filter_text_color:] focustext=[:$skin_filter_background_color:] background="[:FANART_URL($skin_background_image):]" >
<table class=main width=100%>
<tr valign=bottom><td align="center" border=0 height=[:BODY_HEIGHT:] >
[:ELSE:]
<body focuscolor=[:$skin_filter_text_color:] focustext=[:$skin_filter_background_color:] background="[:BACKGROUND_IMAGE($skin_background_image):]" >
<table class=main width=100%>
<tr valign=middle><td align="center" border=0 height=[:BODY_HEIGHT:] >
[:ENDIF:]
