<html>
    <head>
        <title>Oversight ([:HOSTNAME:]) - [:TITLE:] Boxset</title>
		[:INCLUDE_TEMPLATE(styles_and_meta):]
    </head>
    <body [onloadset=:START_CELL:] focuscolor=#66CCFF focustext=black class=menu_background background="[:BACKGROUND_URL(default.jpg):]">
		[:FORM_START:]
            <table class=header width=100% background="[:IMAGE_URL(bluemenu2.png):]" >
                <tr>
                    [:INCLUDE_TEMPLATE(tvboxset_buttons):]
                    <td width=80% align=right>
                    	<span class=menubarTitle><b>[:TITLE:] Boxset</b>&nbsp;&nbsp;[:PAGE:]/[:PAGE_MAX:]</span>
                    </td>
					[:INCLUDE_TEMPLATE(right_button):]
				</tr>
            </table>
            <center>
            	<br/>
            	<div id=gridWrapper>
            		[:GRID:]
            	</div>
            </center>
            [:INCLUDE_TEMPLATE(box_footer):]
		[:FORM_END:]
		<div class=titleLayer>
			[:INCLUDE_TEMPLATE(box_titles):]
		</div>
[:IF($@sd):]
[:ELSE:]
		<div class=fanartLayer><img class=fanartImage src="[:FANART_URL(lightwave.jpg):]"/></div>
[:ENDIF:]
		[:INCLUDE_TEMPLATE(box_closing_scripts):]
    </body>
</html>
<!--
vi:ts=4:sw=4:et:syntax=html
-->

