<html>
    <head>
        <title>Oversight ([:HOSTNAME:]) - [:TITLE:]</title>
		[:INCLUDE_TEMPLATE(styles_and_meta):]
    </head>
    <body [onloadset=:START_CELL:] focuscolor=[:$skin_filter_text_color:] focustext=[:$skin_filter_background_color:] class=menu_background background="[:BACKGROUND_IMAGE($skin_background_image):]">
[:FORM_START:]
            <table class=header width=100% background="[:IMAGE_URL($skin_menu_header_color.menu.png):]" >
                <tr>
                    [:INCLUDE_TEMPLATE(tvboxset_buttons):]
                    <td width=80% align=right>
                    	<span class=menubarTitle><b>[:TITLE:]</b>&nbsp;&nbsp;[:PAGE:]/[:PAGE_MAX:]</span>
                    </td>
					[:INCLUDE_TEMPLATE(right_button):]
                </tr>
            </table>
            <center>
            	<br/>
            	<div id=gridWrapper>
[:IF($@sd):]
					[:GRID:]
[:ELSE:]
            		[:GRID(rows=>1):]
[:ENDIF:]
            	</div>
            </center>
            [:INCLUDE_TEMPLATE(box_footer):]
		[:FORM_END:]
[:IF($@sd):]
		<div class=titleLayer>
			[:INCLUDE_TEMPLATE(box_titles):]
		</div>
[:ELSE:]
		<table class=infoTable width=100%>
			<tr>
				<td width=100% colspan=2 height=35px>&nbsp;</td>
			</tr>		
			<tr>
				<td width=55% valign=top>
[:IF($skin_menu_page_text_transparency):]
					<table background="[:IMAGE_URL(trans,$ovs_transparency,.png):]">
[:ELSE:]
					<table>
[:ENDIF:]
						<tr><td colspan=3 height=4px></td><tr>
						<tr height=4px>
							<td width=1%></td>
							<td width=98%>
								<span class=plot>[:PLOT:]</span>								
							</td>
							<td width=1%></td>
						</tr>
						<tr><td colspan=3 height=4px></td><tr>
					</table>
				</td>
				<td width=45% rowspan=2 align=right><img class=fanartImage src="[:FANART_URL($skin_background_image):]"/></td>
			</tr>
			<tr>
				<td width=55% valign=bottom>
					[:INCLUDE_TEMPLATE(box_titles):]
				</td>
			</tr>
		</table>
[:ENDIF:]
		[:INCLUDE_TEMPLATE(box_closing_scripts):]
    </body>
</html>
<!--
vi:ts=4:sw=4:et:syntax=html
-->

