# Default values for scanning a domain

#Extract last digit from url m/ match (or extract) s/replace
#
# <title>Easy Girl (2010) | MYmovies</title>
# <title>Inception | **** | 2010 - MYmovies</title>


catalog_domain_filter_title_regex_list=s/ [|] .*//,S/ \([21][0-9][0-9][0-9]\)$//
catalog_domain_filter_orig_title_regex_list=

catalog_domain_url_to_personid_regex_list=e/person.*/,e/key=.*/,e/[0-9]+
catalog_domain_portrait_url=
catalog_domain_portrait_url_regex_list=
catalog_domain_movie_url_regex=film.[12]
catalog_domain_poster_url_regex_list=/filmclub.[12]/,s/[a-z0-9]+.jpg/locandina.jpg/
catalog_domain_movie_url=http://www.mymovies.it/film/{ID}
catalog_domain_movie_id_regex_list=e;film.[12]....[^/]+;,s/film.//
