#Index
	_id	1	_w	0	_a	0	_T	Please wait while index is built	_s		_e		0_s	00	0_e	00	_K	The Dark Knight	_Y	2008	_F	/share/PleaseWait.avi	_pt		_U	http://www.imdb.com/title/tt0468569	_R	UK:12A	_G	Action | Crime | Thriller	_r	9.0/10	_P	Batman, Gordon and Harvey Dent are forced to deal with the chaos unleashed by an anarchist mastermind known only as the Joker, as it drives each of them to their limits.	_C	M	_J	TheDarkKnight.jpg	_FT	20090103224100	_IT	20090108173441	_DT	20090103224100	_SRCH	http://www.google.com/search?q=The+Dark+Knight+2008+BluRay+720p+DTS+x264+dxva+EuReKA+SAMPLE+imdb+title&num=20	_p		_ad		_eti		_adi		_tc		_et		_nfo	The.Dark.Knight.2008.BluRay.720p.DTS.x264.dxva-EuReKA.[SAMPLE].nfo	
