<table class=footer width=100%  background="[:IMAGE_URL(trans50.png):]">
	<tr valign=top>
        <td width=10%>[:LEFT_BUTTON:]</td>
		<td align=center><span class="boxtitle">[:TITLE:] Boxset</span></td>
        <td width=10% align=right>[:RIGHT_BUTTON:]</td>
	</tr>
</table>