<html>
    <head>
        [:FAVICON:]
        <meta name="robots" content="nofollow">
        <title>Oversight ([:HOSTNAME:]) - [:TITLE:] Boxset</title>
        <link rel="stylesheet" type="text/css" href=[:TEMPLATE_URL(css/default.css):] />
        <style type="text/css">
            [:INCLUDE_TEMPLATE(css):]
        </style>
    </head>

[:IF($ovs_display_fanart):]

    <body [onloadset=:START_CELL:] focuscolor=#66CCFF focustext=black class=menu_background background="[:FANART_URL(default.jpg):]" >
    <table class=main width=100%>
    <tr valign=bottom>

[:ELSE:]

    <body [onloadset=:START_CELL:] focuscolor=#66CCFF focustext=black class=menu_background background="[:URL_BASE:]/templates/[:$ovs_skin_name:]/720/default.jpg">
    <table class="main" width="100%">
    <tr valign="middle">

[:ENDIF:]

        <td align="center" border="0" height="[:BODY_HEIGHT:]" >

[:FORM_START:]
    <center>
        <table class="main" width="100%" height="100%">
            <tr>
                <td>
		            <table height=50px class="header" background="[:URL_BASE:]/templates/default/images/trans50.png">
		                <tr>
		                	[:INCLUDE_TEMPLATE(tvboxset_buttons):]
[:IF($@gaya):]	
[:ELSE:]
			                <td align=right>
			                    [:EXTERNAL_URL:]&nbsp;
			                </td>
[:ENDIF:]
		                    <td align=right>
		                        <span class="boxtitle" id="menutitle">&nbsp;</span>
		                        <span class="boxtitle" id="unwatchedtotal">&nbsp;</span>
		                        <span class="boxtitle" id="watchedtotal">&nbsp;</span>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                    </td>
		                </tr>
		            </table>
                </td>
            </tr>
            <tr>
                <td>
                    <center>
                        <table >
                            <tr>
                                <td >
                                    <div id=gridWrapper>[:GRID:]</div>
								<table class=footer width=100%  background="[:URL_BASE:]/templates/default/images/trans50.png">
				                	<tr valign=top>
				                        <td width=10%>[:LEFT_BUTTON:]</td>
										<td align=center><span class="boxtitle">[:TITLE:] Boxset</span></td>
				                        <td width=10% align=right>[:RIGHT_BUTTON:]</td>
				                	</tr>
				            	</table>
                                </td >
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </center>
[:FORM_END:]

</td></tr></table>

[:INCLUDE_TEMPLATE(javascript_common):]
<!-- tvids -->
[:TVIDS:]
[:INCLUDE_TEMPLATE(common):]
    </body>
</html>
<!--
vi:ts=4:sw=4:et:syntax=html
-->
