<html>
    <head>
        [:FAVICON:]
        <meta name="robots" content="nofollow">
        <title>Oversight ([:HOSTNAME:]) - [:ACTOR_NAME:]</title>
        <link rel="stylesheet" type="text/css" href=[:TEMPLATE_URL(css/default.css):] />
        <style type="text/css">
            [:INCLUDE_TEMPLATE(css):]
        </style>
    </head>

    <body [onloadset=:START_CELL:] focuscolor=#66CCFF focustext=black class=menu_background background="[:URL_BASE:]/templates/[:$ovs_skin_name:]/720/default.jpg">
    <table class="main" width="100%">
    <tr valign="middle">

        <td align="center" border="0" height="[:BODY_HEIGHT:]" >

[:FORM_START:]
    <center>
        <table class="main" width="100%" height="100%">
        	<tr valign=bottom>
        		<td align=center>
		            <table height=200px class="header" background="[:URL_BASE:]/templates/default/images/trans50.png">
		            	<tr><td colspan=3 height=5px></td></tr>
		            	<tr>
			                <td colspan=3 align=center>
			                    <span class="boxtitle" >[:ACTOR_IMAGE(height=200px):]</span>
			                <td>
		            	</tr>
		                <tr>
		                	<td width=8px></td>
				            <td align=center>
				                <span class="boxtitle">PROFILE: [:ACTOR_NAME:]</span>
							</td>
							<td width=8px></td>
		                </tr>
						<tr><td colspan=3 height=5px></td></tr>
		            </table>					
        		</td>
			</tr>
            <tr valign=bottom>
                <td>
		            <table height=50px class="header" background="[:URL_BASE:]/templates/default/images/trans50.png">
		                <tr>
		                    [:INCLUDE_TEMPLATE(tvboxset_buttons):]
[:IF($@gaya):]		
			                <td align=right></td>
[:ELSE:]
			                <td align=right>
			                    [:EXTERNAL_URL:]&nbsp;
			                </td>
[:ENDIF:]
				            <td align=right>
				                <span class="boxtitle" id="menutitle">&nbsp;</span>
				                <span class="boxtitle" id="unwatchedtotal">&nbsp;&nbsp;</span>
				                <span class="boxtitle" id="watchedtotal">&nbsp;&nbsp;</span>
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				            </td>
		                </tr>
		            </table>
                </td>
            </tr>
			<tr><td</td>
			</tr>
            <tr>
                <td>
                    <center>
                        <table >
                            <tr>
                                <td>
                                    <center>
                                        <table>
                                            <tr>
                                                <td align="center" >
                                                </td>
                                            </tr>
                                        </table>
                                    </center>
                                </td>
                            </tr>
                            <tr>
                                <td >
                                    <div id=gridWrapper>[:GRID(rows=>1):]</div>
								<table class=footer width=100%  background="[:URL_BASE:]/templates/default/images/trans50.png">
				                	<tr valign=top>
				                        <td width=10%>[:LEFT_BUTTON:]</td>
				                        <td width=10% align=right>[:RIGHT_BUTTON:]</td>
				                	</tr>
				            	</table>
                                </td >
                            </tr>
                        </table>
                    </center>
                </td>
            </tr>
        </table>
    </center>
[:FORM_END:]

</td></tr></table>

<script type="text/javascript" src="[:TEMPLATE_URL(js/util.js):]"></script>
<script type="text/javascript" src="[:TEMPLATE_URL(js/menu.js):]"></script>
<!-- tvids -->
[:TVIDS:]
[:INCLUDE_TEMPLATE(common):]
    </body>
</html>
<!--
vi:ts=4:sw=4:et:syntax=html
-->
