<body focuscolor=#FFCF2F focustext=black background="[:FANART_URL(default.jpg):]" onloadset="[:START_CELL:]" >
<table class=main width=100%>
[:IF($ovs_display_fanart):]
<tr valign=bottom>
[:ELSE:]
<tr valign=middle>
[:ENDIF:]
<td align="center" border=0 height=[:BODY_HEIGHT:] >
