<!-- Default Buttons Template  $Id:$ -->
    [:BACK_BUTTON:]
    [:HOME_BUTTON:]
[:IF($@gaya):]
[:ELSE:]
	<br/>
    [:MARK_BUTTON:]
    [:LOCK_BUTTON:]
    [:DELETE_BUTTON:]&nbsp;
[:ENDIF:]

<!--
vi:ts=4:sw=4:et:syntax=html
-->
