<table width="100%">
	<tr>
        <td width="90%" align=center >
            [:INCLUDE_TEMPLATE(menu_titles):]
        </td>
    </tr>
</table>
<table class=footer width=100%>
    <tr valign=top>
        <td width=10%>[:LEFT_BUTTON:]</td>
        [:INCLUDE_TEMPLATE(menu_buttons):]
        <td width=10% align=right>[:RIGHT_BUTTON:]</td>
    </tr>
</table>