<html>
    <head>
        <title>Oversight [:VERSION:] ([:HOSTNAME:])</title>
		[:INCLUDE_TEMPLATE(styles_and_meta):]
    </head>
    <body [onloadset=:START_CELL:] focuscolor=#66CCFF focustext=black class=menu_background background="[:BACKGROUND_IMAGE(default.jpg):]" >
		[:FORM_START:]
			[:INCLUDE_TEMPLATE(menu_header):]
	        <center>
	        	<br/>
	        	<div>
	        		[:GRID:]
	        	</div>
	        </center>
			[:INCLUDE_TEMPLATE(menu_footer):]
		[:FORM_END:]
		[:INCLUDE_TEMPLATE(menu_closing_scripts):]
    </body>
</html>
<!--
vi:ts=4:sw=4:et:syntax=html
-->
