
/* Note gaya has css bug. Item after comments is ignored. Hence */a{}

a { color:white ; text-decoration:none; }

html,body,#main,table.main {
 margin:0;
 padding:0;
 border:none;
}

html,body,table.main {
 height:100%;
}

#main {
 height:99%;
 width:100%;
}

img {
 border: 0px solid black;
}


td.gc_small { font-size:10pt; }
td.gc_fresh_small { font-size:10pt; }
td.gc_watched_small { font-size:10pt; }

font.Delete {color:#FF9966; font-weight:normal; }
font.Ignore {color:#777;}
font.Mark {color:#AAA;}
font.Unmark {color:#DDF;}
font.Remove_From_List {color:orange;}

img.fresh { 
 border-width: 2px;
 color:yellow;
 border-color:yellow;
}

td.fresh,a.fresh,font.fresh {
 color:yellow;
 font-weight:bold;
 font-style:italic;
}

font.watched {
 color:#FF7777 ;
}

font.unwatched {
 color:#77FF77 ;
}


.error { color:red ; font-style:italic; font-weight:bold; }
.delete { background-color:red; }
.delist { background-color:yellow; }
.cancel { ; }
.mark { ; }


table.header,table.footer {
 margin:0;
 border-spacing:1px;
 padding:0;
 border-width:0;
 }

.bluebutton {
 color:#5555FF;
 background-color:black;
 font-weight:normal;
  text-decoration:none;
 }
a.bluebutton {
 color:black ;
}

/* TV or movie view */ a{}
table.detail   { margin:0; border-spacing:1px; padding:1px ; }

/* Admin page */ a{}

.match {color:#FF7777; font-weight:bold; }

/* Movie Page */ a{}

.right { text-align:right; }

input,select {
 background-color:black;
 color:#88CCFF;
 font-weight:bold;
 border=0;
 border-color:#88CCFF;
 font-size:small;
}

td { font-size:[:FONT_SIZE:]; font-family:"arial"; color:white;  }

h1,.title {
 text-align:center;
 font-size:[:TITLE_SIZE:];
 font-weight:bold;
 color:#FFFF00;
}

.label { color:red }

[:IF($@poster_mode):]
    .poster,.poster_fresh { border-color:white;
        border-width:0px;
        padding:0px;
        margin:0px;
    }
    .poster_fresh { border-color:#AAAA00; border-width:2px; padding:1px; margin:1px; }
    .poster       { border-color:white; border-width:0px; padding:0px; margin:0px; }
    .poster_fresh { border-color:#AAAA00; border-width:2px; padding:1px; margin:1px; }
    img.poster_watched { }

    a.poster { color:white; font-weight:bold; font-style:italic; }
    a.poster_fresh { color:white; font-weight:bold; font-style:italic; }
    a.poster_watched { color:#88AA88; font-weight:bold; font-style:italic; }

    td.poster_unknown { }
    td.poster_fresh_unknown { }
    td.poster_watched_unknown { }
[:ELSE:]

    .grid0 { background-color:#101055; }
    .grid1 { background-color:#106610; }

[:ENDIF:]

/*
vi:ts=4:sw=4:et:syntax=css
*/a{}
