
<a href="javascript:ovs_info();" tvid="INFO"></a>
<a href="javascript:ovs_delist();" tvid="[:$ovs_tvid_delist:]"></a>
<a href="javascript:ovs_delete();" tvid="[:$ovs_tvid_delete:]"></a>
<a href="javascript:ovs_watched();" tvid="[:$ovs_tvid_mark:]"></a>
<a href="javascript:ovs_lock();" tvid="[:$ovs_tvid_lock:]"></a>
