<html>
    <head>
        <title>Oversight ([:HOSTNAME:])</title>
		[:INCLUDE_TEMPLATE(styles_and_meta):]
    </head>
    <body [onloadset=:START_CELL:] focuscolor=[:$skin_filter_text_color:] focustext=[:$skin_filter_background_color:] class=menu_background background="[:BACKGROUND_IMAGE($skin_background_image):]">
        [:FORM_START:]
			[:INCLUDE_TEMPLATE(menu_header):]
            <center>
            	<div>
            		[:GRID:]
            	</div>
            </center>
			[:INCLUDE_TEMPLATE(menu_footer):]
		[:FORM_END:]
		[:INCLUDE_TEMPLATE(menu_closing_scripts):]
    </body>
</html>
<!--
vi:ts=4:sw=4:et:syntax=html
-->
